<div class="container col-md-12 col-sm-12">
        <div class="table-responsive" id="no-more-tables">
            <form>
                <table class="table table-striped table-bordered">
                    <thead class="heading">
                        <tr >
                            <th></th>
                            <th>Name</th>
                            <th>Task ID</th>
                            <th>Task</th>
                            <th>Delivery Date</th>
                            <th>Blocker</th>
                            <th>On Time Delivery</th>
                            <th>Quality Delivery</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tbrow in tabledatarepeat">
                            <td><span ><input type="radio" id="{{tbrow.taskId}}" ng-model="checkedradiovalue" name="radioname" class="checkbox" ng-click="selectcheckbox(checkedradiovalue)" ng-value="{{tbrow.taskId}}"/></span>
                            </td>
                            <td data-title="Name">
                                <input ng-model="tbrow.taskName" class="form-control" disabled/>
                            </td>
                            <td data-title="Task ID">
                                <input  ng-model="tbrow.taskId" class="form-control" disabled/>
                            </td>
                            <td data-title="Task">
                                <textarea ng-model="tbrow.taskDetails" class="form-control" disabled></textarea>
                            </td>
                            <td data-title="Delivery Date">
                                <input  ng-model="tbrow.taskdeldate" class="form-control" disabled/>
                            </td>
                            <td data-title="Blocker">
                                <select id="blocker" ng-model="tbrow.blocker" ng-options="s.value as s.key for s in sample" name="blocker" class="sel-box sel-blocker form-control" ng-change=blockerchange(tbrow.blocker,tbrow.taskId) ng-class="blockercolor">
                                    <option value="">Select</option>
                                </select>
                            </td>
                            <td data-title="On Time Delivery">
                                <select id="ontimedelivery" ng-model="tbrow.ontimedelivery" ng-options="s.value as s.key for s in sample" name="blocker" class="sel-box sel-blocker form-control" ng-change=ontimedelivery(tbrow.ontimedelivery,tbrow.taskId) ng-class="ontimecolor" data-title="Name">
                                    <option value="">Select</option>
                                </select>
                            </td>
                            <td data-title="Quality Delivery">
                                <select id="qualitydelivery" ng-model="tbrow.QualityDelivery" ng-options="s.value as s.key for s in sample" name="blocker" class="sel-box sel-blocker form-control" ng-change=onqualitydelivery(tbrow.QualityDelivery,tbrow.taskId) ng-class="deliverycolor" data-title="Name">
                                    <option value="">Select</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col-md-12 box-issue table-responsive table-striped" ng-show="justification">
            <form name="newDiscoveryForm">
                <table class="table">
                    <thead class="heading">
                        <tr>
                            <th>Justification</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-2">What is the Issue<span class="glyphicon glyphicon-asterisk asterisk"></span> </td>
                            <td class="col-md-9">
                                <div class="col-md-10">
                                    <input ng-model="issuedetail.issue" class="form-control" ng-required="true"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">What is the Impact<span class="glyphicon glyphicon-asterisk asterisk"></span> </td>
                            <td class="col-md-9">
                                <div class="col-md-10">
                                    <input  ng-model="issuedetail.impact" class="form-control" ng-required="true"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">What is that i have done<span class="glyphicon glyphicon-asterisk asterisk"></span> </td>
                            <td class="col-md-9">
                                <div class="col-md-10">
                                    <input  ng-model="issuedetail.havedone" class="form-control" ng-required="true"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">What help do i need<span class="glyphicon glyphicon-asterisk asterisk"></span> </td>
                            <td class="col-md-9">
                                <div class="col-md-10">
                                    <input  ng-model="issuedetail.helpneed" class="form-control" ng-required="true"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">By when this needs to be closed<span class="glyphicon glyphicon-asterisk asterisk"></span> </td>
                            <td class="col-md-9">
                                <div class="col-md-10" id="sandbox-container">
                                    <input ng-model="issuedetail.dateval" class="form-control" ng-required="true"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">By what time<span class="glyphicon glyphicon-asterisk asterisk"></span> </td>
                            <td class="col-md-9">
                                <div class="col-md-10">
                                    <input ng-model="issuedetail.timeval" class="form-control" id="datetimepicker2" ng-required="true"/>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="heading-align">
            <button type="submit" class="btn btn-primary" value="Submit" ng-disabled="submitdisabled" ng-click="Submitdata()" ng-show="button1">Submit</button>
            <button type="submit" class="btn btn-primary" value="Submit" ng-disabled="newDiscoveryForm.$invalid" ng-click="Submitdata(issuedetail)" ng-show="button2">Submit</button>
        </div>
        <div class="footer col-md-12">
            <span>LEGEND</span>
            <span class="yesblock">
            <button class="btn btn-success">Yes</button></span>  
            <span> On Schedule</span>
            <span class="maybeblock">
            <button class="btn btn-warning">Maybe</button></span>
            <span> be At Risk</span>
            <span class="noblock">
            <button class="btn btn-danger">No</button></span>
            <span>Issues / Dependencies Exist</span>
            <span>(C)-Completion(%) (M)-Milestone Date </span>
        </div>
    </div>

    <script>
    $('#sandbox-container input').datepicker({
        autoclose: true
    });
    $(document).ready(function(){
           $('#datetimepicker2').datepicker();
        });
    //$('#datetimepicker2').datetimepicker({
      //autoclose: true
    //}); 
    if ($(window).width()<768) {
        $('.tag-heading').insertAfter('.profile-heading');
    }  
</script>